DATABASE_URL=postgresql://postgres:postgres@localhost:5432/scuttle_db
REDIS_URL=redis://localhost:6379/0
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_CHANNEL_JID=
FIREBASE_CREDENTIALS=./firebase-service-account.json
